@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

body {
    scroll-behavior: smooth;
}
.active-link {
    background-color: #fff;
}

/* Gradient */

.gradient-page{
    background: linear-gradient(to right,#8fa7f7,#fcfdf4,#fbcfe8 ); 
}

.gradient-text{
    background: linear-gradient(to right, #FF0000,#FFC0CB, #FFA500,#FF0000, #FFC0CB,#FF0000,#FFA500);
    background-size: 900% 900%;
    background-clip: text;
}
.gradient-header {
    background: linear-gradient(to right, #FFC0CB, #0EA5E9,#10B981, #FFC0CB, #0EA5E9, #FFC0CB, #10B981);
    background-size: 500% 600%;
    background-clip: text;
}
.gradient-head{
    background: linear-gradient(to right,#9C27B0,#FFC0CB);
    background-size: 500% 600%;
    background-clip: text;
}